.home {
    height: 100vh;
    padding: 0;
    margin: 0;
}
.home_title_and_design {
    background-image: 
        linear-gradient(#ffffff 1px, transparent 1px),
        linear-gradient(90deg, #ffffff 1px, transparent 1px),
        linear-gradient(
            to bottom,
            #ffffff 0%,
            #FAF6F1 25%,
            #ffffff 100%,
        );
    background-size:
        100px 100px,
        100px 100px,
        100% 100%;
    display: grid;
    grid-template-columns: 30% 5% 65%;
    grid-template-areas: "left middle right";
    box-sizing: border-box;
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 50px;
    .home_title {
        box-sizing: border-box;
        grid-area: left;
        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: column;
        font-size: 65px;
        font-weight: 400;
        .home_title_actions {
            width: 100%;
            height: 60px;
            margin-top: 30px;
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 20px;
            .explore_button {
                font-size: 20px;
                border: none;
                background-color: #FF7F50;
                width: 250px;
                height: 100%;
                cursor: pointer;
                font-weight: 500;
                border: 1px solid #cfcfcf;
                &:hover {
                    background-color: #ff5b20;
                }
            }
            .install_button {
                font-size: 20px;
                border: none;
                background-color: rgb(255, 255, 255);
                width: 200px;
                height: 100%;
                cursor: pointer;
                border: 1px solid #cfcfcf;
                font-weight: 500;
                &:hover {
                    background-color: #f5f5f5;
                }
            }
        }
    }
    .home_design {
        grid-area: right;
        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: row;
        .grid {
            display: grid;
            grid-template-columns: repeat(27, 30px);
            grid-template-rows: repeat(11, 30px);
            grid-auto-flow: column;
            gap: 1px;
            perspective: 1000px;
        }
        .cell {
            width: 30px;
            height: 30px;
            position: relative;
            overflow: hidden;
            box-sizing: border-box;
			perspective: 300px;
			perspective-origin: center;
        }

        .cell_inner {
            width: 100%;
            height: 100%;
            position: relative;
            transform-style: preserve-3d;
            transition: transform 8s cubic-bezier(.17,.67,.12,.99);
        }
        .cell_inner.show-back {
            transform: rotateY(180deg);
        }

        .front,
        .back {
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 22px;
            font-weight: 600;
            backface-visibility: hidden;
        }

        .back {
            transform: rotateY(180deg);
        }
    }
}