.documentation{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-areas: "left right";
    .sidebar{
        width: 100%;
        height: 100%;
        grid-area: left;
        border-right: solid 1px #d5d5d5;
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 30px 70px; 
        .sidebar_section_title{
            font-size: 18px;
            font-weight: 600;
        }
        .sidebar_button{
            font-size: 17px;
            font-weight: 500;
            width: 100%;
            display: flex;
            align-self: start;
            justify-self: center;
            padding: 10px 10px;
            background-color: transparent;
            border: solid 3px transparent;
            cursor: pointer;
            &:hover{
                box-sizing: border-box;
                border: solid 3px #FF7F50;
                border-radius: 5px;
            }
        }
    }
}