.Footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #E0E0E0;
    background-color: #f8f9fa;
    height: 50px;
    box-sizing: border-box;
    margin-top:auto;
    p {
        margin: 0;
        color: #666;
        font-size: 14px;
    }
}