.header_navigation {
    display: flex;
    align-items: center;
    gap: 5px;
    height: 100%;
    width: 800px;
    box-sizing: border-box;
    position: relative;
    }         
   .dropdown_container {
        background-color: transparent;
        align-items: center;
        justify-content: center;
        display: flex;
        height: 100%;   
        box-sizing: border-box;
        border-bottom: 3px solid transparent;
        &.open {
            border-bottom: 3px solid #FF7F50;
        }
    }
  
    .dropdown_button{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px 12px;
        border: none;
        background-color: transparent;
        cursor: pointer;
        transition: all 0.2s ease;
        font-size: 14px;
        flex-shrink: 0;
    }
  
    .dropdown_button_label {
        font-size: 15px;
        font-weight: 500;
        white-space: nowrap;
        color: #000000;
    }
  
    .dropdown_button_icon {
        transition: transform 0.2s ease;
        font-size: 15px;
        color: rgb(73, 73, 73);
        &.rotated {
            transform: rotate(180deg);
        }
    }
    .dropdown_panel {
        position: absolute;
        top: 120%;
        left: 0;
        right: 0;
        width: 100%;
        height: 300px;
        z-index: 40;
		background-color: #ffffff;
        box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.1);
        .installation_panel{
			width: 100%;
			height: 100%;
            display: grid;
            grid-template-columns: 1fr 0.5px 1fr;
            grid-template-areas: "left middle right";
            .window_installation_section{
                grid-area: left;
                .window_installation_title{
                    justify-content: center;
                    padding: 20px 0px;
                    color: #565656;
                    font-size: 15px;
                    font-weight: 600;
                    display: flex;
                    align-items: center;
                    gap: 15px;
                }
            }
			.divider{
				grid-area: middle;
				border-left: 0.5px solid #a6a6a6;
				height: 80%;
				justify-self: center;
				align-self: center;
			}
            .linux_installation_section{
                grid-area: right;
                .linux_installation_title{
                    justify-content: center;
                    padding: 20px 0px;
                    color: #565656;
                    font-size: 15px;
                    font-weight: 600;
                    display: flex;
                    align-items: center;
                    gap: 15px;
                }
            }
        }
        .about_panel{
        	width: 100%;
			height: 100%;
            display: grid;
            grid-template-columns: 1fr 0.5px 1fr;
            grid-template-areas: "left middle right";
			.about_panel_actions{
                padding-top: 20px;
				grid-area: left;
				display: flex;
				flex-direction: column;
				justify-content: start;
				align-items: center;
				gap: 5px;
				button{
                    gap: 5px;
                    padding: 10px 15px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: start;
					width: 90%;
					border: none;
					background-color: #ffffff;
					cursor: pointer;
					&:hover {
						background-color: #e0e0e0;
					}
                    .title{
                        font-size: 16px;
                        font-weight: 600;
                    }
                    .info{
                        font-size: 14px;
                        font-weight: 400;
                        color: #555555;
                        margin-top: 5px;
                    }
				}
			}
			.divider{
				grid-area: middle;
				border-left: 0.5px solid #a6a6a6;
				height: 80%;
				justify-self: center;
				align-self: center;
        	}
			.blog{
				grid-area: right;
    		}

		}
	}