.Header {
    font-family: sans-serif;
    background-color: #ffffff;
    box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.1); /* Bóng nhẹ */
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    padding-left: 10px;
    z-index: 100;
    flex-shrink: 0;
}
.logo {
    margin-left: 20px;
    display: flex;
    align-items: center;
    padding-bottom: 3px;
.logo_1 {
    color: #FF7F50;
    font-size: 30px;
    font-weight: 700;
}
.logo_2 {
    font-weight: 700;
    font-size: 30px;
    color: #565656;
}
}

.nav_menu {
    flex: 1; // Thay đổi từ flex: auto thành flex: 1 để chiếm toàn bộ không gian còn lại
    display: flex;
    justify-content: start; // Căn giữa dropdown trong nav menu
    align-items: center;
    height: 100%; // Chiếm toàn bộ chiều cao của header
}

.github_repository_button{
	margin-left: auto;
	margin-right: 20px;
	height: 60px;
  	width: 60px;
	border-radius: 50%;
	border: none;
	background-color: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
