.home {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "left right";
    .home_title {
        grid-area: left;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 65px;
        font-weight: 400;
        padding: 0 50px;
        .home_title_actions {
            width: 100%;
            height: 60px;
            margin-top: 30px;
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 20px;
            .explore_button {
                font-size: 20px;
                border: none;
                background-color: bisque;
                width: 250px;
                height: 100%;
                cursor: pointer;
                font-weight: 500;
            }
            .install_button {
                font-size: 20px;
                border: none;
                background-color: bisque;
                width: 250px;
                height: 100%;
                cursor: pointer;
                font-weight: 500;
            }
        }
    }
    .home_design {
        grid-area: right;
    }
}