.home {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "left right";
    .home_title {
        grid-area: left;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 65px;
        font-weight: 400;
        padding: 0 50px;
        .home_title_actions {
            width: 100%;
            height: 60px;
            margin-top: 30px;
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 20px;
            .explore_button {
                font-size: 20px;
                border: none;
                background-color: bisque;
                width: 250px;
                height: 100%;
                cursor: pointer;
                font-weight: 500;
                border: 1px solid #cfcfcf;
                &:hover {
                    background-color: #ffd3ad;
                }
            }
            .install_button {
                font-size: 20px;
                border: none;
                background-color: rgb(255, 255, 255);
                width: 250px;
                height: 100%;
                cursor: pointer;
                border: 1px solid #cfcfcf;
                font-weight: 500;
                &:hover {
                    background-color: #f5f5f5;
                }
            }
        }
    }
.home_design {
        grid-area: right;
        display: flex;
        justify-content: center;
        align-items: center;
        .grid {
            display: grid;
            grid-template-columns: repeat(7, 85px);
            grid-template-rows: repeat(6, 85px);
            gap: 5px;
            perspective: 1000px;
        }
         .cell {
            width: 85px;
            height: 85px;
            position: relative;
            overflow: hidden;
            // border: 1px solid #cfcfcf;
            box-sizing: border-box;
			perspective: 300px;
			perspective-origin: center;
        }

        .cell_inner {
            width: 100%;
            height: 100%;
            position: relative;
            transform-style: preserve-3d;
            transition: transform 8s cubic-bezier(.17,.67,.12,.99);
        }
        .cell_inner.show-back {
            transform: rotateY(180deg);
        }

        .front,
        .back {
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 22px;
            font-weight: 600;
            backface-visibility: hidden;
        }

        .back {
            transform: rotateY(180deg);
        }
    }
}

