.home {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "left right";
    .home_title {
        grid-area: left;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 65px;
        font-weight: 400;
        padding: 0 50px;
        .home_title_actions {
            width: 100%;
            height: 60px;
            margin-top: 30px;
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 20px;
            .explore_button {
                font-size: 20px;
                border: none;
                background-color: bisque;
                width: 250px;
                height: 100%;
                cursor: pointer;
                font-weight: 500;
            }
            .install_button {
                font-size: 20px;
                border: none;
                background-color: bisque;
                width: 250px;
                height: 100%;
                cursor: pointer;
                font-weight: 500;
            }
        }
    }
    .home_design {
        grid-area: right;
        display: flex;
        justify-content: center;
        align-items: center;
.grid {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-template-rows: repeat(4, 100px);
  gap: 5px;
  perspective: 1000px;
}

/* ô cha – cố định kích thước */
.cell {
            width: 100px;
            height: 100px;
            position: relative;
            border: 1px solid #cfcfcf;
            overflow: hidden;
            box-sizing: border-box;
}

/* phần xoay */
.cell_inner {
            width: 100%;
            height: 100%;
            transform-style: preserve-3d;
}

/* nếu ô này flip */
.cell.flip .cell_inner {
  animation: flipCard 6s infinite ease-in-out;
}

/* hai mặt */
.front, .back {
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 22px;
            font-weight: 600;
}
        .front {
            background: #e3e3e3;
        }

        .back {
            background: #bdbdbd;
            transform: rotateY(180deg);
        }
.front {
  background: #e3e3e3;
}

.back {
  background: #bdbdbd;
  transform: rotateY(180deg);
}

@keyframes flipCard {
  0%   { transform: rotateY(0deg); }
  20%  { transform: rotateY(180deg); } /* quay nhanh */
  100% { transform: rotateY(180deg); } /* đứng yên chờ */
}

.cell:not(.flip) {
  animation: none;
}
.cell.flip:nth-child(3)  { animation-delay: .3s; }
.cell.flip:nth-child(8)  { animation-delay: .6s; }
.cell.flip:nth-child(12) { animation-delay: 1s; }
.cell.flip:nth-child(17) { animation-delay: 1.4s; }
    }
}