.Complete_profile {
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Complete_profile_frame {
    display: flex;
    align-items: center;  
    flex-direction: column;
    .Complete_profile_title {
        font-size: 22px;
        font-weight: 600;
    }
}
.Complete_profile_form {
    width: 350px;
    display:flex;
    flex-direction: column;
    align-items: start;
    padding-left: 25px;
    gap: 4px;
    padding-right: 25px;
    input{
    width: 100%;
    height: 35px;
    border-radius: 5px;
    border: 1px solid rgb(76, 76, 76);
    padding: 0 35px 0 5px;
    box-sizing: border-box; 
    }
}
.Set_password_visible {
    display: flex;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 5px;
    top: 2.5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    &:hover {
        background-color: #e0e0e0;
    }
}
.Password_wrapper {
    position: relative;
    width: 100%;
}
.Confirm_password_wrapper {
    position: relative;
    width: 100%;
}
.Set_confirm_password_visible {
    display: flex;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 5px;
    top: 2.5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    &:hover {
        background-color: #e0e0e0;
    }
}
.Create_account_button {
    display:flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin-top: 10px;
    width: 100%;
    height: 35px;
    font-weight: 600;
    border-radius: 5px;
    background-color: rgb(0, 180, 48);
    border: none;
    color: white;
    padding: 0px 5px;
    cursor: pointer;
    transition: all 0.2s ease;
    &:hover {
        background-color: #115022;
    }
}
.input-error {
  border: 1px solid red !important;
}

.error-text {
    margin: none;
    display: flex;
    align-items: center;
    color: red;
    font-size: 13px;
    width: 100%;
    gap: 5px;

}
