.Login_page {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.Login_title {
    font-size: 22px;
    font-weight: 600;
    color:rgb(51, 51, 51);
}

.Login_frame {
    gap: 20px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    .Login_form {
        width: 350px;
        display:flex;
        flex-direction: column;
        align-items: start;
        padding-left: 25px;
        gap: 8px;
        padding-right: 25px;
        input{
            width: 100%;
            height: 35px;
            border-radius: 5px;
            border: 1px solid rgb(76, 76, 76);
            padding: 0px 5px;
            box-sizing: border-box; 
        }
        button {
            display:flex;
            gap: 10px;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            margin-top: 10px;
            width: 100%;
            height: 35px;
            font-weight: 600;
            border-radius: 5px;
            background-color: rgb(0, 180, 48);
            border: none;
            color: white;
            padding: 0px 5px;
            cursor: pointer;
            transition: all 0.2s ease;
            &:hover {
                background-color: #115022;
            }
        }
    }
    .Login_separator {
        display: flex;
        align-items: center;
        gap: 12px;
        font-size: 20px;
        width: 100%;
        margin: 10px 0;
        span {
            font-size: 15px;
        }
        &::after {
            content: "";
            flex: 1;
            height: 1px;
            background: rgb(76, 76, 76);
        }
        &::before {
            content: "";
            flex: 1;
            height: 1px;
            background: rgb(76, 76, 76);
        }
    }
    button {
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        width: 100%;
        height: 35px;
        font-weight: 500;
        border-radius: 5px;
        background-color: rgb(255, 255, 255);
        border: 1px solid rgb(76, 76, 76);
        padding: 0px 5px;
        cursor: pointer;
        transition: all 0.2s ease;
        &:hover {
            background-color: rgb(169, 169, 169);
        }
    }
    .Sign_up {
        text-decoration: none;
    }
}
